Repository devonfw/ide, changes with the labels that .github/labeler.yml gives for each.
All labels: bash, cobigen, commandlet, config, documentation, eclipse, intellij, java, javascript, npm, SCM, scripts, settings, test, vscode, macOS, windows

.github/labeler.yml:

bash:
  - '!*.*'

cobigen:
  - 'cobigen'

commandlet:
  - 'scripts/src/main/resources/scripts/command/**/*'

config:
  - any: ['settings/**/*', 'configurator/**/*']

documentation:
  - 'documentation/**/*'

eclipse:
  - any: ['eclipse-m2e/**/*', 'eclipse']

intellij:
  - 'intellij'

java:
  - 'java'

javascript:
  - any: ['node', 'npm', 'ng', 'yarn']

npm:
  - 'npm'

SCM:
  - '.github/**/*'

scripts:
  - 'scripts/**/*'

settings:
  - 'settings/**/*'

test:
  - 'scripts/src/test/**/*'

vscode:
  - 'vscode'

macOS:
  - 'scripts/src/main/resources/system/mac/**/*'

windows:
  - 'scripts/src/main/resources/system/windows/**/*'

#690: edited details, doc and fixed code-typo
  documentation/devonfw-ide-usage.asciidoc
  documentation/docker.asciidoc
  scripts/src/main/resources/scripts/command/docker
Labels: bash, commandlet, documentation, scripts

#690:implemented-spellcheck-recommendations
  scripts/src/main/resources/scripts/command/docker
Labels: bash, commandlet, scripts

#690: deactivated spellcheck in one line wittingly
  scripts/src/main/resources/scripts/command/docker
Labels: bash, commandlet, scripts

#683: Generalize Workaround for macos (#718)
  scripts/src/main/resources/scripts/command/graalvm
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/functions
Labels: bash, commandlet, scripts

prepared release 2022.04.001
  CHANGELOG.asciidoc
Labels: none

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Labels: none

Update CHANGELOG.asciidoc
  CHANGELOG.asciidoc
Labels: none

#728 add getting started
  documentation/devonfw-ide-contribution-getting-started.asciidoc
  documentation/getting-started.asciidoc
Labels: bash, documentation

#728 fix links
  documentation/devonfw-ide-contribution-getting-started.asciidoc
Labels: bash, documentation
