Repository devonfw/ide, pull requests merged in 2019-11, with the labels that each got.

#305 #291: added temporary announcement note about release clarification
  documentation/Home.asciidoc
  documentation/setup.asciidoc
Labels: SCM, documentation, enhancement

#296 Solved problems with cicdgen & devon4node installation
  scripts/src/main/resources/scripts/command/cicdgen
  scripts/src/main/resources/scripts/command/node
Labels: bug

#307 #304: updated to latest stable JDK11
  scripts/src/main/resources/scripts/command/java
Labels: enhancement, java, scripts, software

#308 temporary change to make it work with private release of cobigen
  scripts/src/main/resources/scripts/command/eclipse
Labels: software

#309 #291: improved terms
  TERMS_OF_USE.asciidoc
  documentation/eclipse.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: documentation, legal, software

#312 #311: avoid explicit heap tunings
  scripts/src/main/resources/scripts/devon.properties
Labels: config, enhancement, java
