Repository devonfw/ide, pull requests merged in 2019-09, with the labels that each got.

#244 #236: improved legal stuff
  CODE_OF_CONDUCT.asciidoc
  CONTRIBUTING_GUIDE.asciidoc
  ISSUE_TEMPLATE.asciidoc
  LICENSE
  PR_TEMPLATE.asciidoc
  README.asciidoc
  TERMS_OF_USE.asciidoc
  documentation/devon-ide-doc.asciidoc
  documentation/license.asciidoc
  documentation/pom.xml
  pom.xml
  scripts/pom.xml
  scripts/src/main/resources/TERMS_OF_USE.adoc
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/functions
Labels: documentation, enhancement, legal

#250 Renaming URLs to correct repo name
  404.html
  index.html
  oomph/.project
  oomph/index/org.eclipse.setup
  oomph/products/DevonIde.setup
  oomph/products/catalog_devonfw.setup
  oomph/products/changelog.adoc
  oomph/projects/DevonIde.setup
  oomph/projects/catalog_devonfw.setup
Labels: blocker

#255 #253: avoid redundancies across devonfw repos
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/enhancement.md
Labels: SCM, enhancement

#256 #246: updated to eclipse 4.13 (2019-06)
  scripts/src/main/resources/scripts/command/eclipse
Labels: eclipse, enhancement, software
