Repository devonfw/ide, pull requests merged in 2019-10, with the labels that each got.

#267 Updated Jenkins add command syntax in the documentation
  documentation/jenkins.asciidoc
Labels: documentation

#274 #262: fixed loading of properties on windows
  scripts/src/main/resources/scripts/environment-project
Labels: bash, bug, scripts, windows

#278 #275: fixed newline in questions #277: fixed scripts update to specific version
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, update

#279 #269: use slash to source so not accidentally taken from path
  scripts/src/main/resources/scripts/devon.bat
Labels: enhancement, scripts, windows

#297 #291: improved terms for 3rd party
  TERMS_OF_USE.asciidoc
Labels: documentation, enhancement

#298 #291: clarify way of inclusion
  TERMS_OF_USE.asciidoc
Labels: documentation, enhancement
