Repository devonfw/ide, pull requests merged in 2019-08, with the labels that each got.

#163 #159: devon4j migration #160: AdoptOpenJDK #161: #162: exit codes
  configurator/src/main/java/com/devonfw/tools/ide/migrator/MigrationImpl.java
  configurator/src/main/java/com/devonfw/tools/ide/migrator/Migrations.java
  configurator/src/main/java/com/devonfw/tools/ide/migrator/Migrator.java
  configurator/src/main/java/com/devonfw/tools/ide/migrator/file/FileMigration.java
  configurator/src/main/java/com/devonfw/tools/ide/migrator/xml/MavenPropertyReplacement.java
  configurator/src/test/java/com/devonfw/tools/ide/migrator/MigrationsTest.java
  documentation/java.asciidoc
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/devon.bat
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/setup
  scripts/src/test/bash/all-tests
  scripts/src/test/bash/test-setup
  settings/src/main/settings/eclipse/archetype-catalog.xml
Labels: bug, commandlet, enhancement, scripts, software, test

#167 #58: migration fixes
  configurator/src/main/java/com/devonfw/tools/ide/migrator/MigrationStepImpl.java
  configurator/src/main/java/com/devonfw/tools/ide/migrator/Migrations.java
  configurator/src/main/java/com/devonfw/tools/ide/migrator/Migrator.java
Labels: enhancement, migator

#168 #166: respect tool dependencies in commandlets
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
Labels: commandlet, enhancement, scripts, software

#171 #66: #157: introduced shellcheck and reworked all issues
  scripts/src/main/resources/scripts/command/build
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/help
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/command/release
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/command/yarn
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/setup
  scripts/src/test/bash/test-shellcheck
Labels: bash, bug, commandlet, enhancement, scripts, test

#176 #169: improved tar extraction and support .tar.xz
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/functions
Labels: bug, commandlet, enhancement, scripts, software

#185 #174: updated settings (esp. Eclipse)
  settings/src/main/settings/eclipse/codetemplates.xml
  settings/src/main/settings/eclipse/formatter.xml
  settings/src/main/settings/eclipse/project.dictionary.readme.txt
  settings/src/main/settings/eclipse/workspace/setup/.metadata/.plugins/org.eclipse.core.runtime/.settings/de.bastiankrol.startexplorer.prefs
  settings/src/main/settings/eclipse/workspace/setup/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sonar.ide.eclipse.core.prefs
  settings/src/main/settings/eclipse/workspace/setup/.metadata/.plugins/org.eclipse.m2e.core/archetypesInfo.xml
  settings/src/main/settings/eclipse/workspace/update/.metadata/.plugins/net.sf.eclipsecs.core/checkstyle-config.xml
  settings/src/main/settings/eclipse/workspace/update/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.core.prefs
  settings/src/main/settings/eclipse/workspace/update/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
  settings/src/main/settings/eclipse/workspace/update/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
  settings/src/main/settings/vscode/workspace/update/.vscode/settings.json
Labels: eclipse, settings

#184 #112: correction of npmrc path
  scripts/src/main/resources/scripts/devon.properties
Labels: bug, config, scripts

#183 use new API for regedit
  scripts/src/main/resources/setup.bat
Labels: enhancement, scripts, windows

#182 Everything added
  documentation/advanced-tooling.asciidoc
Labels: documentation, enhancement

#189 #173: ide migration guide
  documentation/devon-ide-doc.asciidoc
  documentation/features.asciidoc
  documentation/java.asciidoc
  documentation/migration-from-devonfw-3.0.0-or-lower.asciidoc
  documentation/scripts.asciidoc
  documentation/settings.asciidoc
  documentation/software.asciidoc
  pom.xml
Labels: documentation, enhancement

#194 Feature/193 windows bugs
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/test-shellcheck
Labels: bug, commandlet, scripts, windows

#195 #193: windows fix
  documentation/setup.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/devon.bat
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/environment-project.bat
Labels: bug, commandlet, eclipse, enhancement, scripts, windows

#201 Various fixes and improvements
  README.adoc
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/devon.bat
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/system/windows/README.adoc
  scripts/src/main/resources/system/windows/power-shell/devon-power-shell.reg
  scripts/src/test/bash/test-version-compare
Labels: bug, uninstall, windows

#205 #84: #190: #196: #204: fixes and improvements
  documentation/migration-from-devonfw-3.0.0-or-lower.asciidoc
  documentation/setup.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: bug, commandlet, eclipse, enhancement, scripts, software

#207 #206: workaround for severe windows CMD/BAT bug
  scripts/src/main/resources/scripts/devon.bat
Labels: blocker, bug, scripts, windows

#208 #198: fixed powershell integration
  scripts/src/main/resources/system/windows/power-shell/devon-power-shell.reg
Labels: bug, enhancement, powershell, windows

#210 #209: windows bashes
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/setup.bat
  scripts/src/main/resources/system/windows/devon-uninstall.reg
Labels: bash, blocker, bug, cygwin, enhancement, setup, uninstall, windows

#218 #202: version-compare further improved
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/test-version-compare
Labels: bug, enhancement, scripts, update

#221 Feature/more improves
  configurator/src/main/java/com/devonfw/tools/ide/configurator/Configurator.java
  documentation/usage.asciidoc
  documentation/variables.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/setup.bat
  scripts/src/main/resources/system/windows/power-shell/devon-power-shell.reg
Labels: bug, cygwin, documentation, eclipse, enhancement, scripts, setup, windows

#223 #212: #222: fixed backup and update
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/workspaces/readme.txt
Labels: bug, enhancement, update, windows

#227 #211: correct TM Terminal URL from dhelmke
  scripts/src/main/resources/scripts/command/eclipse
Labels: bug, eclipse, enhancement, scripts, setup, software

#230 #229: fixe to preserve workspace that was reset to main
  documentation/variables.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/devon
Labels: bug, eclipse, scripts

#232 #231: repo sub-folder in ~/Downloads
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, setup, software, update

#233 #224: split update, ask on unstable release, omit software repo for LATEST, omit OS if independent
  documentation/ide.asciidoc
  documentation/software.asciidoc
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/functions
Labels: commandlet, enhancement, scripts, software, update

#241 #235: moved devon script update to ide commandlet
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/devon.bat
  scripts/src/main/resources/scripts/environment-project
Labels: bug, commandlet, scripts, setup, update, windows

#242 #215: bash quoting mess fixed
  scripts/src/main/resources/scripts/environment-project
Labels: bug, config, enhancement, windows
