Repository devonfw/ide, pull requests merged in 2019-12, with the labels that each got.

#313 Updated Keyboard Layout
  documentation/advanced-tooling-generic.asciidoc
  documentation/advanced-tooling-linux.asciidoc
  documentation/advanced-tooling-mac.asciidoc
  documentation/advanced-tooling-windows.asciidoc
  documentation/advanced-tooling.asciidoc
  documentation/devonfw-ide-doc.asciidoc
  documentation/features.asciidoc
  documentation/images/finder-integration.png
  documentation/images/keyboard-layouts.png
  documentation/images/keyboard-modifier-keys.png
  documentation/images/keyboard-shortcuts.png
  pom.xml
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/system/mac/Finder-Integration.png
  scripts/src/main/resources/system/mac/README.adoc
  scripts/src/main/resources/system/mac/iterm/Open_Devon-iTerm_here.workflow/Contents/QuickLook/Thumbnail.png
  scripts/src/main/resources/system/mac/iterm/Open_devonfw-iTerm_here.workflow/Contents/Info.plist
  scripts/src/main/resources/system/mac/iterm/Open_devonfw-iTerm_here.workflow/Contents/document.wflow
  scripts/src/main/resources/system/mac/keyboard/Keyboard Layouts/pc-keyboard.bundle/Contents/Info.plist
  scripts/src/main/resources/system/mac/keyboard/Keyboard Layouts/pc-keyboard.bundle/Contents/Resources/German-ISO.icns
  scripts/src/main/resources/system/mac/keyboard/Keyboard Layouts/pc-keyboard.bundle/Contents/Resources/German-ISO.keylayout
  scripts/src/main/resources/system/mac/keyboard/Keyboard Layouts/pc-keyboard.bundle/Contents/Resources/de.lproj/InfoPlist.strings
  scripts/src/main/resources/system/mac/keyboard/Keyboard Layouts/pc-keyboard.bundle/Contents/version.plist
  scripts/src/main/resources/system/mac/keyboard/install-mac-keyboard-support.sh
  scripts/src/main/resources/system/mac/terminal/Open_Devon-Terminal_here.workflow/Contents/QuickLook/Preview.png
  scripts/src/main/resources/system/mac/terminal/Open_Devon-Terminal_here.workflow/Contents/QuickLook/Thumbnail.png
  scripts/src/main/resources/system/mac/terminal/Open_devonfw-Terminal_here.workflow/Contents/Info.plist
  scripts/src/main/resources/system/mac/terminal/Open_devonfw-Terminal_here.workflow/Contents/document.wflow
  scripts/src/main/resources/system/windows/README.adoc
  scripts/src/main/resources/system/windows/cmd/devon-cmd.reg
  scripts/src/main/resources/system/windows/cygwin/devon-cygwin.reg
  scripts/src/main/resources/system/windows/power-shell/devon-power-shell.reg
Labels: config, enhancement, macOS

#314 Updated versions
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: enhancement, software

#319 #310: skip duplicate tests in travis and honor skipTests variable
  .travis.yml
  scripts/pom.xml
Labels: SCM, enhancement, test

#323 #322: support for custom tools
  documentation/software.asciidoc
  documentation/variables.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: config, enhancement, scripts, software

#324 #281: setup tools transitive/recursive
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/yarn
Labels: enhancement, scripts, software

#329 #328: aligned license and legal aspects
  TERMS_OF_USE.asciidoc
  documentation/Home.asciidoc
  documentation/LICENSE.asciidoc
  documentation/_Sidebar.asciidoc
  documentation/devonfw-ide-doc.asciidoc
  documentation/features.asciidoc
  documentation/license.asciidoc
  documentation/master-ide.asciidoc
  documentation/pom.xml
  documentation/setup.asciidoc
  documentation/structure.asciidoc
  scripts/pom.xml
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/functions
Labels: enhancement, legal
