Repository devonfw/ide, pull requests merged in 2020-03, with the labels that each got.

#365 Do not file if SETTINGS/project is not existing
  scripts/src/main/resources/scripts/command/ide
Labels: bug, scripts, update

#362 update migrate link to point in devon4j
  documentation/java.asciidoc
Labels: documentation, enhancement, java

#361 update on platforms with pre-installed tar
  documentation/setup.asciidoc
Labels: documentation, enhancement

#366 update java versions to latest fix releases
  documentation/java.asciidoc
  scripts/src/main/resources/scripts/command/java
Labels: enhancement, java, software, update

#367 #363: do git pull of settings on ide update settings
  scripts/src/main/resources/scripts/command/ide
Labels: bug, enhancement, settings, update

#373 Fix project import on windows
  scripts/src/main/resources/scripts/command/eclipse
Labels: bug, eclipse, enhancement, windows

#383 #382: improve project import with doLoadProperties
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/environment-project
Labels: enhancement, projects, setup
