Repository devonfw/ide, pull requests merged in 2020-07, with the labels that each got.

#429 Added script to create a meta file in the users directory after setup
  scripts/src/main/resources/scripts/command/ide
Labels: config, enhancement, setup

#430 #395: windows fix for variables containing whitespaces or quotes
  scripts/src/main/resources/scripts/environment-project.bat
Labels: bug, config, enhancement, scripts, windows

#434 #433: fix for variable resolution on windows (prevent title symbol in variable name when export is used)
  scripts/src/main/resources/scripts/environment-project.bat
Labels: bug, enhancement, scripts, windows

#435 #435: fix variable solution on bash
  scripts/src/main/resources/scripts/environment-project
Labels: bash, bug, scripts

#436 #427: keep leading zeros
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/test-get-next-version
Labels: enhancement, release, scripts, test
