Repository devonfw/ide, pull requests merged in 2020-02, with the labels that each got.

#352 Updated node LTS version that solves vulnerability
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: javascript, security

#353 Implementaton of automated git checkout and eclipse import
  documentation/LICENSE.asciidoc
  documentation/configuration.asciidoc
  documentation/ide.asciidoc
  documentation/projects.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/scripts/lib_script/import.groovy
  scripts/src/main/resources/scripts/lib_script/import.xml
Labels: config, eclipse, enhancement, setup, update

#354 updated vscode license
  documentation/LICENSE.asciidoc
  scripts/src/main/resources/scripts/command/sonar
Labels: documentation, enhancement, legal

#357 #175: improvement for import
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/lib_script/import.xml
Labels: eclipse, scripts, setup, update
