Repository devonfw/ide, pull requests merged in 2020-06, with the labels that each got.

#410 fix jsonmerge for boolean and null values
  configurator/src/main/java/com/devonfw/tools/ide/configurator/merge/JsonMerger.java
Labels: bug, configurator

#422 #413: update default to Eclipse 2020-03
  scripts/src/main/resources/scripts/command/eclipse
Labels: eclipse, software, update

#423 #399: detect idea executable with fallbacks like idea64.exe
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, intellij, windows

#425 #424: only append single newline, remove/ignore CR
  scripts/src/main/resources/scripts/environment-project
Labels: bug, enhancement, scripts
