Repository devonfw/ide, pull requests merged in 2020-08, with the labels that each got.

#442 Feature/441 update node vscode
  .mvn/maven.config
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: enhancement, javascript, software, update, vscode

#443 #384: vscode plugins
  documentation/vscode.asciidoc
  scripts/src/main/resources/scripts/command/vscode
Labels: documentation, enhancement, plugins, update, vscode

#444 #440: exit if moving to backup fails with proper error message
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, software, update

#447 #446: fixed doConfigure CNP bug for intellij
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, commandlet, enhancement, intellij, scripts

#445 #432: fix to ensure update of existing workspace on vscode start
  configurator/src/test/java/com/devonfw/tools/ide/configurator/ConfiguratorTest.java
  configurator/src/test/resources/templates/update/json/settings.json
  scripts/src/main/resources/scripts/command/vscode
Labels: commandlet, config, configurator, enhancement, update, vscode

#438 Add DEVON_IDE_TRACE to scripts
  documentation/variables.asciidoc
  scripts/src/main/resources/scripts/command/build
  scripts/src/main/resources/scripts/command/cicdgen
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/help
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/ionic
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/command/project
  scripts/src/main/resources/scripts/command/release
  scripts/src/main/resources/scripts/command/sonar
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/command/yarn
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/devon.bat
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/environment-project.bat
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/setup.bat
Labels: enhancement, scripts

#448 #431: fixed build command
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/command/yarn
  scripts/src/main/resources/scripts/functions
Labels: SCM, commandlet, enhancement, javascript, scripts

#454 update to eclipse 2020.06
  scripts/src/main/resources/scripts/command/eclipse
Labels: eclipse, enhancement, update
