Repository devonfw/ide, pull requests merged in 2020-04, with the labels that each got.

#380 WIP: #379: #111: fix vscode to be portable/work in sandbox
  scripts/src/main/resources/scripts/command/vscode
Labels: enhancement, help wanted, setup, software, vscode

#385 #370: downgrade Java to 11.0.5_10
  scripts/src/main/resources/scripts/command/java
Labels: bug, enhancement, java, macOS, software

#386 Feature/clone recursive
  scripts/src/main/resources/scripts/functions
Labels: enhancement, projects, setup

#387 #369: fixed flattening/versioning of POMs
  pom.xml
Labels: SCM, bug, enhancement

#388 #343: honor BASH_HOME environment variable as fallback if autodetection fails
  scripts/src/main/resources/scripts/devon.bat
Labels: bash, enhancement, setup, windows

#391 Feature/390 fix mvn set version
  .mvn/maven.config
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/mvn
Labels: bug, commandlet, enhancement, maven

#396 #390: fixed error handling for get-version
  scripts/src/main/resources/scripts/command/mvn
Labels: bug, commandlet, enhancement, maven

#400 allow custom args for release
  documentation/release.asciidoc
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/release
Labels: commandlet, enhancement, scripts

#402 #398: fixed idea script location, normalized to bin folder across all OS
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, enhancement, intellij, macOS, windows

#351 Migration changes for dozer/orika and version upgrade of spring boot
  configurator/src/main/java/com/devonfw/tools/ide/migrator/Migrations.java
Labels: enhancement, java, migator

#404 2020.04.001 improvenents
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/environment-project
  scripts/src/test/bash/test-version-compare
Labels: config, documentation, enhancement

#405 #390: prefer ci-friendly .mvn/maven.config if present for get-version
  scripts/src/main/resources/scripts/command/mvn
Labels: SCM, bug, commandlet, enhancement, maven
