Repository devonfw/ide, pull requests merged in 2020-01, with the labels that each got.

#334 #259: fix for windows backslash vs. slash issues
  configurator/src/main/java/com/devonfw/tools/ide/configurator/Configurator.java
  configurator/src/test/java/com/devonfw/tools/ide/configurator/ConfiguratorTest.java
Labels: bug, configurator, enhancement, windows

#273 Cobigen CLI commandlet
  scripts/src/main/resources/scripts/command/cobigen
Labels: commandlet, enhancement, java, maven, scripts

#338 #59: improved cobigen-cli
  documentation/cli.asciidoc
  documentation/cobigen.asciidoc
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/functions
Labels: commandlet, documentation, enhancement, scripts, software

#341 #339: reload config after settings have changed
  scripts/src/main/resources/scripts/command/ide
Labels: bug, enhancement, scripts, settings, setup

#337 New node LTS and VS Code versions
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: enhancement, javascript, software

#345 improved PDF
  documentation/devonfw-ide-doc.asciidoc
Labels: documentation, enhancement

#347 devonfw/devonfw-guide#62: fixed usage chapter
  documentation/devonfw-ide-usage.asciidoc
  documentation/usage.asciidoc
Labels: documentation, enhancement

#348 #346: fixed eclipse add-plugin
  scripts/src/main/resources/scripts/command/eclipse
Labels: bug, commandlet, eclipse, scripts
