Repository devonfw/ide, pull requests merged in 2020-12, with the labels that each got.

#500 #499: Enable configuration of version for yarn and angular cli (ng)
  documentation/ng.asciidoc
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/yarn
Labels: documentation, enhancement, javascript, software, update

#501 #493: export variables for commandlets
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/functions
Labels: config, enhancement, scripts

#504 #356: create projects directly in workspace
  scripts/src/main/resources/scripts/command/java
Labels: enhancement, java, projects
