Repository devonfw/ide, pull requests merged in 2020-10, with the labels that each got.

#465 Security update for node.js
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: enhancement, security, software, update

#460 #452: IntelliJ add Ultimate Edition
  documentation/intellij.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: enhancement, intellij, software

#474 make intellij work on linux (idea.sh vs. idea)
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, enhancement, intellij, linux

#476 #475: fixed IntelliJ edition versioning
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, enhancement, intellij, setup, software

#477 update IntelliJ to 2020.2.1
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: enhancement, intellij, software, update

#478 add IDEA_HOME to PATH after installation
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, enhancement, intellij, setup, software

#484 #479: fixed add plugin via CLI
  scripts/src/main/resources/scripts/command/vscode
Labels: bug, enhancement, plugins, vscode

#486 #415: improved documentation for admin usage (customizing settings)
  documentation/configurator.asciidoc
  documentation/settings.asciidoc
  documentation/usage.asciidoc
Labels: config, documentation, enhancement

#485 #483: fixed node tool installations
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
Labels: bug, enhancement, npm, setup, software

#490 #470: make SortedProperties sorting on store
  configurator/src/main/java/com/devonfw/tools/ide/configurator/SortedProperties.java
  configurator/src/test/java/com/devonfw/tools/ide/configurator/SortedPropertiesTest.java
Labels: bug, configurator, enhancement

#489 Update node to v12.19.0 and VS Code to 1.50.1
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: javascript, npm, vscode
