Repository devonfw/ide, pull requests merged in 2021-03, with the labels that each got.

#533 #531: deleted .travis.yml
  .github/workflows/build.yml
  .travis.yml
  README.asciidoc
Labels: SCM, enhancement

#535 #393: improve windows PATH adoption on initial setup
  scripts/src/main/resources/scripts/devon.bat
Labels: enhancement, setup, windows

#534 Update VS Code to 1.54.1 and node.js to v14.16.0
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: dependencies, javascript, update, vscode

#541 #539: support advanced ci friendly maven
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/release
  scripts/src/main/resources/scripts/functions
Labels: commandlet, enhancement, maven, release
