Repository devonfw/ide, pull requests merged in 2021-01, with the labels that each got.

#508 #507 eclipse edition can be switched by variable
  documentation/eclipse.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: config, eclipse, enhancement

#509 #505: check args for java create and provide helpful error message
  scripts/src/main/resources/scripts/command/java
Labels: commandlet, enhancement, java

#510 #480: export workspace variables to properly import to configured workspace
  scripts/src/main/resources/scripts/command/project
Labels: bug, eclipse, enhancement, projects

#524 #511: workaround for bug in git for windows
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, git, settings, windows
