Repository devonfw/ide, pull requests merged in 2021-09, with the labels that each got.

#602 #601: update nodejs default version from 14.17.3 to 14.17.6
  scripts/src/main/resources/scripts/command/node
Labels: software, update, security

#596 Broken link fixed
  documentation/settings.asciidoc
Labels: enhancement, documentation, config

#600 #453: intellij plugin support
  documentation/intellij.asciidoc
  documentation/vscode.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: enhancement, intellij, setup, plugins
