Repository devonfw/ide, pull requests merged in 2021-02, with the labels that each got.

#526 VS Code and node.js LTS latest updates
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/vscode
Labels: javascript, vscode

#527 devonfw/ide#523: check snapshot versions from dependencies on release
  documentation/mvn.asciidoc
  documentation/release.asciidoc
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/release
Labels: documentation, enhancement, release

#529 Github actions for CI/CD
  .github/workflows/release.yml
  .github/workflows/sync-docs.yml
Labels: SCM, enhancement
