Repository devonfw/ide, pull requests merged in 2021-07, with the labels that each got.

#587 #585: settings with branches
  documentation/ide.asciidoc
  documentation/usage.asciidoc
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: config, documentation, enhancement, scripts, settings

#593 #584: docker + k8s: improved windows and added mac support
  documentation/devonfw-ide-usage.asciidoc
  documentation/docker.asciidoc
  documentation/kubectl.asciidoc
  documentation/kubernetes.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/kubectl
  scripts/src/main/resources/scripts/command/kubernetes
  scripts/src/main/resources/scripts/functions
Labels: commandlet, enhancement, macOS, setup, software, windows

#589 Update advanced-tooling-windows.asciidoc
  documentation/advanced-tooling-windows.asciidoc
Labels: documentation, enhancement, software

#556 #340: proper install and update support for cobigen-cli
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/command/mvn
Labels: commandlet, enhancement, update

#594 #584: improved doc, use Docker Desktop for Windows
  documentation/cli.asciidoc
  documentation/docker.asciidoc
  documentation/kubectl.asciidoc
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/kubectl
  scripts/src/main/resources/scripts/setup-docker
  scripts/src/main/resources/scripts/setup-kubernetes
Labels: commandlet, enhancement, setup, software, windows

#595 #584: marked as experimental
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/docker.asciidoc
  documentation/features.asciidoc
  documentation/kubectl.asciidoc
  documentation/setup.asciidoc
  documentation/usage.asciidoc
Labels: documentation
