Repository devonfw/ide, pull requests merged in 2021-04, with the labels that each got.

#544 #542: support secrets from variables in settings.xml
  documentation/cli.asciidoc
  documentation/conf.asciidoc
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/mvn
Labels: config, enhancement, maven, setup

#547 #536: safe downloads
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/test-setup
Labels: enhancement, scripts, setup

#555 #550: update maven to 3.8.1
  scripts/src/main/resources/scripts/command/mvn
Labels: enhancement, maven, update

#551 #542: #544: do not prompt for secrets/variables for default settings
  scripts/src/main/resources/scripts/command/mvn
Labels: config, enhancement, maven, setup

#540 devonfw/ide#287: command autocompletion
  scripts/src/main/resources/scripts/autocomplete
  scripts/src/main/resources/scripts/command/build
  scripts/src/main/resources/scripts/command/cicdgen
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/help
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/ionic
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/command/project
  scripts/src/main/resources/scripts/command/release
  scripts/src/main/resources/scripts/command/sonar
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/command/yarn
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/devon-autocomplete
Labels: bash, enhancement, scripts

#559 #287: improvements of command autocompletion
  scripts/src/main/resources/scripts/command/help
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/devon
Labels: commandlet, enhancement, setup

#564 autocompletion added
  documentation/usage.asciidoc
Labels: documentation, enhancement

#563 #548: removed changelist
  .mvn/maven.config
  configurator/pom.xml
  documentation/pom.xml
  pom.xml
  scripts/pom.xml
  settings/pom.xml
Labels: SCM, enhancement

#566 #565: fixed download directory for jenkins
  scripts/src/main/resources/scripts/command/jenkins
Labels: bug, commandlet, enhancement, scripts, setup

#569 update docgen to 2021.04.001
  documentation/pom.xml
Labels: SCM, documentation, enhancement

#561 #557: minimize tools on setup
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/devon.properties
Labels: enhancement, setup, software

#571 #287: added x flag for autocomplete script
  scripts/src/main/resources/scripts/autocomplete
Labels: SCM, enhancement, scripts

#572 #287: added exectuable flag to devon-autocomplete
  scripts/src/main/resources/scripts/devon-autocomplete
Labels: enhancement, scripts
