Repository devonfw/ide, pull requests merged in 2022-09, with the labels that each got.

#863 #857 Create function doIsEmptyDirectory
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash, commandlet

#859 #835 Setup not working if SettingsURL not ending with .git
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, bash, commandlet

#858 #858: bugfix for devon ide create
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, bash, commandlet

#852 getting-started: Added remark about cloning repo
  documentation/devonfw-ide-contribution-getting-started.asciidoc
Labels: documentation, bash

#844 #800 Nightly command test
  .github/workflows/test-macos.yml
  .github/workflows/test-ubuntu.yml
  .github/workflows/test-windows.yml
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/environment-project
  scripts/src/test/bash/all-tests
  scripts/src/test/bash/functions
  scripts/src/test/bash/integration-test-terraform
  scripts/src/test/bash/integration-test-vscode
Labels: scripts, bash, test, SCM

#862 #849: Integration of gcviewer
  CHANGELOG.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/gcviewer.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/gcviewer
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet

#870 #848: auto update PATH on doDevonCommand
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, bash, commandlet

#871 fix and improve doUnzip
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, bash

#856 #846: Added Linux support for setup of Rancher Desktop
  scripts/src/main/resources/scripts/command/docker
Labels: scripts, bash, commandlet

#873 #797: Azure CLI Python Integration
  documentation/az.asciidoc
  scripts/src/main/resources/scripts/command/az
  scripts/src/main/resources/scripts/command/pip
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, documentation, bash, commandlet

#860 #786 add readme to windows terminal with Powershell, cmd and GitBash
  scripts/src/main/resources/system/windows/windows-terminal/README.asciidoc
Labels: windows, scripts, bash

#808 #751 Documentation of functions
  documentation/functions.asciidoc
Labels: documentation, bash

#885 Added stale bot
  .github/stale.yml
Labels: bash, SCM

#884 #877: Update version of vscode to 1.71.0+
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/vscode
Labels: scripts, bash, commandlet

#881 #832: Solution for unstable update sites
  CHANGELOG.asciidoc
  documentation/eclipse.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: scripts, documentation, bash, commandlet

#889 #879: Renaming integration-tests and adding badges
  .github/workflows/test-macos.yml
  .github/workflows/test-ubuntu.yml
  .github/workflows/test-windows.yml
  CHANGELOG.asciidoc
  README.asciidoc
Labels: bash, SCM

#890 GitHub cli
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/gh.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/gh
Labels: scripts, documentation, bash, commandlet

#896 #898: Bugfix for aws commandlet
  scripts/src/main/resources/scripts/command/aws
Labels: scripts, bash, commandlet

#882 Fixing NPE by updating mvn default version to 3.8.4
  scripts/src/main/resources/scripts/command/mvn
Labels: scripts, bash, commandlet

#891 #880: Customize the trigger of the integration tests
  .github/workflows/check-commit.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-ubuntu.yml
  .github/workflows/test-windows.yml
  CHANGELOG.asciidoc
Labels: bash, SCM

#910 #894: Integration of Quarkus CLI
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/quarkus.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/quarkus
Labels: scripts, documentation, bash, commandlet

#914 Tools Documentation Update
  documentation/gh.asciidoc
  documentation/ionic.asciidoc
  documentation/ng.asciidoc
Labels: enhancement, documentation, bash

#915 #826: Update IDE-mirrors documentation
  documentation/devonfw-ide-contribution-getting-started.asciidoc
Labels: documentation, bash

#883 #409: Redo PATH adoption
  scripts/src/main/resources/scripts/devon.bat
  scripts/src/main/resources/setup.bat
Labels: scripts, bash
