Repository devonfw/ide, pull requests merged in 2022-03, with the labels that each got.

#702 added automatic PR labeling
  .github/labeler.yml
  .github/workflows/label-pr.yml
Labels: enhancement, SCM

#698 GraalVM integration
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/graalvm.asciidoc
  documentation/scripts.asciidoc
  documentation/variables.asciidoc
  scripts/src/main/resources/scripts/command/graalvm
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, documentation, bash, commandlet

#709 #637 Terraform integration
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/scripts.asciidoc
  documentation/terraform.asciidoc
  scripts/src/main/resources/scripts/command/terraform
Labels: scripts, documentation, bash, commandlet

#714 #636 Helm Integration
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/helm.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/helm
Labels: scripts, documentation, bash, commandlet

#722 fixed the java migration issue.
  configurator/src/main/java/com/devonfw/tools/ide/migrator/Migrations.java
Labels: bash
