Repository devonfw/ide, pull requests merged in 2022-06, with the labels that each got.

#773 #687: fix git pull issues
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/test-setup
Labels: enhancement, scripts, bash, test, SCM, git

#743 #711 AWS CLI integration
  documentation/LICENSE.asciidoc
  documentation/aws.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/aws
Labels: scripts, documentation, bash, commandlet

#775 #770: first small fixes for VPNKit
  scripts/src/main/resources/scripts/command/docker
Labels: bug, enhancement, scripts, bash, commandlet, setup

#776 #749: prompt default for settings URL
  scripts/src/main/resources/scripts/command/ide
Labels: enhancement, scripts, bash, commandlet, setup, git

#780 #779: fix colors
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, bash

#785 bugfix terraform and helm
  scripts/src/main/resources/scripts/command/helm
  scripts/src/main/resources/scripts/command/terraform
Labels: scripts, bash, commandlet

#782 #781: DotNet support
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/dotnet.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/dotnet
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, documentation, bash, commandlet, setup

#789 #740: ask to continue if devon command fails
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, bash

#790 #781: removed pointless java dependency from dotnet
  scripts/src/main/resources/scripts/command/dotnet
Labels: bug, enhancement, scripts, bash, commandlet, setup

#796 update sonarqube to 9.4.0.54424
  scripts/src/main/resources/scripts/command/sonar
Labels: enhancement, scripts, software, bash, commandlet, update

#787 Improve Windows Terminal with gitbash #692
  documentation/advanced-tooling-windows.asciidoc
  scripts/src/main/resources/setup.bat
  scripts/src/main/resources/system/windows/devon-uninstall.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-gitbash-uninstall.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-gitbash.reg
  scripts/src/main/resources/system/windows/windows-terminal/install.bat
  scripts/src/main/resources/system/windows/windows-terminal/uninstall.bat
Labels: windows, scripts, documentation, bash

#804 #803: fix git pull on debug
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, bash, setup, update, git

#802 #798: English grammar fix for success message
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, bash, commandlet, setup

#818 created definition of done
  documentation/DoD.asciidoc
Labels: documentation, bash
