Repository devonfw/ide, pull requests merged in 2022-02, with the labels that each got.

#697 #696 added new COBIGEN_HOME environment variable to devon.properties
  scripts/src/main/resources/scripts/devon.properties
Labels: enhancement, settings, config

#700 support for MAVEN_ARGS variable for mvn 3.x
  scripts/src/main/resources/scripts/command/mvn
Labels: enhancement, commandlet, maven

#705 fix docker setup for windows
  scripts/src/main/resources/scripts/command/docker
Labels: bug, enhancement, software, setup
