Repository devonfw/ide, pull requests merged in 2022-10, with the labels that each got.

#922 #921: fixed setup.bat
  CHANGELOG.asciidoc
  scripts/src/main/resources/setup.bat
Labels: scripts, bash

#924 #923: use quotes in setup.bat
  CHANGELOG.asciidoc
  scripts/src/main/resources/setup.bat
Labels: bug, enhancement, scripts, bash, setup

#920 #918: Update versions-url in Documentation
  documentation/devonfw-ide-contribution-getting-started.asciidoc
Labels: documentation, bash

#930 #929: test functions doc
  CHANGELOG.asciidoc
  documentation/DoD.asciidoc
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/functions-test
  scripts/src/test/bash/integration-test-aws
  scripts/src/test/bash/integration-test-az
  scripts/src/test/bash/integration-test-cobigen
  scripts/src/test/bash/integration-test-docker
  scripts/src/test/bash/integration-test-dotnet
  scripts/src/test/bash/integration-test-eclipse
  scripts/src/test/bash/integration-test-gcviewer
  scripts/src/test/bash/integration-test-gh
  scripts/src/test/bash/integration-test-graalvm
  scripts/src/test/bash/integration-test-gradle
  scripts/src/test/bash/integration-test-helm
  scripts/src/test/bash/integration-test-intellij
  scripts/src/test/bash/integration-test-ionic
  scripts/src/test/bash/integration-test-jasypt
  scripts/src/test/bash/integration-test-java
  scripts/src/test/bash/integration-test-jenkins
  scripts/src/test/bash/integration-test-kubectl
  scripts/src/test/bash/integration-test-lazydocker
  scripts/src/test/bash/integration-test-mvn
  scripts/src/test/bash/integration-test-ng
  scripts/src/test/bash/integration-test-node
  scripts/src/test/bash/integration-test-npm
  scripts/src/test/bash/integration-test-oc
  scripts/src/test/bash/integration-test-pip
  scripts/src/test/bash/integration-test-python
  scripts/src/test/bash/integration-test-sonar
  scripts/src/test/bash/integration-test-terraform
  scripts/src/test/bash/integration-test-vscode
  scripts/src/test/bash/integration-test-yarn
  scripts/src/test/bash/test-functions-doc
Labels: scripts, documentation, bash, test

#932 #847: generic way to output tool version
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/aws
  scripts/src/main/resources/scripts/command/az
  scripts/src/main/resources/scripts/command/build
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/dotnet
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gcviewer
  scripts/src/main/resources/scripts/command/gh
  scripts/src/main/resources/scripts/command/graalvm
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/helm
  scripts/src/main/resources/scripts/command/help
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/ionic
  scripts/src/main/resources/scripts/command/jasypt
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/command/kubectl
  scripts/src/main/resources/scripts/command/lazydocker
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/command/oc
  scripts/src/main/resources/scripts/command/pip
  scripts/src/main/resources/scripts/command/project
  scripts/src/main/resources/scripts/command/python
  scripts/src/main/resources/scripts/command/quarkus
  scripts/src/main/resources/scripts/command/release
  scripts/src/main/resources/scripts/command/sonar
  scripts/src/main/resources/scripts/command/terraform
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/command/yarn
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, documentation, bash, commandlet

#900 Implementation of #813: Automated Release Process
  .github/workflows/release.yml
  eclipse-m2e/pom.xml
  pom.xml
Labels: bash, SCM

#936 #935: fast fail in doDevonCommand
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#938 #847: #826: fixes
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash

#937 #912: Stability issue of nightly tests
  scripts/src/test/bash/all-tests
  scripts/src/test/bash/functions-test
  scripts/src/test/bash/integration-test-docker
  scripts/src/test/bash/integration-test-kubectl
  scripts/src/test/bash/integration-test-lazydocker
Labels: scripts, bash, test

#911 devonfw/ide#905: Better error messages for eclipse
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: scripts, bash, commandlet

#909 #908 AWS CLI integration for MacOS, bugfixes for Windows and Linux
  scripts/src/main/resources/scripts/command/aws
Labels: enhancement, scripts, bash, commandlet, Team_IDE

#951 #901: remove cicdgen
  documentation/LICENSE.asciidoc
  documentation/cicdgen.asciidoc
  documentation/ionic.asciidoc
  documentation/java.asciidoc
  documentation/ng.asciidoc
  documentation/node.asciidoc
  scripts/src/main/resources/scripts/command/cicdgen
  scripts/src/main/resources/scripts/command/ionic
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
Labels: scripts, documentation, bash, commandlet
