Repository devonfw/ide, pull requests merged in 2022-05, with the labels that each got.

#737 #734 create doUnzip function
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#718 Generalize Workaround for macos
  scripts/src/main/resources/scripts/command/graalvm
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/functions
Labels: enhancement, macOS, scripts, bash, commandlet, setup

#739 #717: fix intellij fails on update
  scripts/src/main/resources/scripts/command/intellij
Labels: scripts, bash, commandlet

#742 #735 Support installer for global installation
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#725 #701 Support for Windows Terminal
  documentation/advanced-tooling-windows.asciidoc
  scripts/src/main/resources/setup.bat
  scripts/src/main/resources/system/windows/devon-uninstall.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-cmd-uninstall.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-cmd.reg
  scripts/src/main/resources/system/windows/windows-terminal/install.bat
  scripts/src/main/resources/system/windows/windows-terminal/uninstall.bat
Labels: windows, scripts, documentation, bash

#764 replace ${os} first for flexibility
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, software, bash, setup

#766 #765: fixed/reverted doReplaceExtractedSkipSingleFolder
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, bash, setup

#741 #712: Azure CLI integration
  documentation/LICENSE.asciidoc
  documentation/az.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/az
Labels: scripts, documentation, bash, commandlet
