Repository devonfw/ide, pull requests merged in 2022-07, with the labels that each got.

#768 #745:updated-docu-regarding-rancher-desktop
  documentation/docker.asciidoc
  documentation/images/EnablingDockerd.png
  documentation/images/RDCompletedIconNotificArea.png
  documentation/images/RDCompletedStartup.png
  documentation/images/RDInstallPic1.png
  documentation/images/RDInstallPic2.png
  documentation/images/RDInstallerInfoWindow.png
  documentation/images/RDWaitingForServices.png
  documentation/images/WSLdistrosRD.png
Labels: documentation, bash

#825 #691: Nightly workflows
  .github/workflows/check-commit.yml
  .github/workflows/test-macos.yml
  .github/workflows/test-ubuntu.yml
  .github/workflows/test-windows.yml
Labels: bash, SCM

#812 added doInstallWithPackageManager to functions
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#822 #794: improve installation of rancher desktop
  scripts/src/main/resources/scripts/command/docker
Labels: scripts, bash, commandlet, Prio high

#831 #827: Fix GitHub Action Runner for Windows
  .github/workflows/test-windows.yml
  scripts/pom.xml
Labels: scripts, bash, SCM

#807 #713: Python integration for all plattforms with documentation
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/python.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/python
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet
