Repository devonfw/ide, pull requests merged in 2022-01, with the labels that each got.

#670 #669: fixed installation of custom tools
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: software, setup

#666 removed spellcheck to reuse the one from .github
  .github/workflows/devonfw-spellcheck.yml
  .github/workflows/spellcheck.yml
  .spellcheck.yml
Labels: enhancement, documentation

#672 #667: honor NPM_VERSION
  scripts/src/main/resources/scripts/command/npm
Labels: setup, update, npm

#675 #674: require confirmation to continue with wrong Java version
  scripts/src/main/resources/scripts/command/eclipse
Labels: enhancement, eclipse, setup, java, update

#676 #665: devon ide update shall update all installed tools
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: enhancement, software, update

#681 #680: fixed intellij download
  scripts/src/main/resources/scripts/command/intellij
Labels: intellij, setup, plugins

#679 #678: support for EXTRA_JAVA_VERSION
  documentation/eclipse.asciidoc
  documentation/intellij.asciidoc
  documentation/java.asciidoc
  documentation/variables.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/java
Labels: eclipse, setup, java, update

#682 #678: prevent to add extra to path
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/environment-project.bat
Labels: windows, bash

#684 improve updates for developers
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, update

#668 Bugfix for issue #667 - devon npm setup ignores a given version
  scripts/src/main/resources/scripts/command/npm
Labels: enhancement, setup, update, npm

#686 #685: improve UX for update on win
  scripts/src/main/resources/scripts/command/ide
Labels: enhancement, windows, scripts, update

#694 #693 bugfix in docker file isQuiet
  scripts/src/main/resources/scripts/command/docker
Labels: bug, enhancement
