Repository devonfw/ide, pull requests merged in 2022-11, with the labels that each got.

#955 #793: desktop vpn win workaround
  documentation/docker.asciidoc
Labels: documentation, bash

#965 #886: make README page more intuitive
  README.asciidoc
  documentation/devonfw-ide.asciidoc
  documentation/images/devonfwidelogo.png
Labels: documentation, bash

#934 #878: default version from mirrors #893: version prefix #940: generic doInstall
  CHANGELOG.asciidoc
  documentation/DoD.asciidoc
  documentation/functions.asciidoc
  documentation/software.asciidoc
  scripts/src/main/resources/scripts/command/aws
  scripts/src/main/resources/scripts/command/az
  scripts/src/main/resources/scripts/command/build
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/dotnet
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/gcviewer
  scripts/src/main/resources/scripts/command/gh
  scripts/src/main/resources/scripts/command/graalvm
  scripts/src/main/resources/scripts/command/gradle
  scripts/src/main/resources/scripts/command/helm
  scripts/src/main/resources/scripts/command/help
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/ionic
  scripts/src/main/resources/scripts/command/jasypt
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/command/kubectl
  scripts/src/main/resources/scripts/command/lazydocker
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/ng
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/npm
  scripts/src/main/resources/scripts/command/oc
  scripts/src/main/resources/scripts/command/pip
  scripts/src/main/resources/scripts/command/project
  scripts/src/main/resources/scripts/command/python
  scripts/src/main/resources/scripts/command/quarkus
  scripts/src/main/resources/scripts/command/release
  scripts/src/main/resources/scripts/command/sonar
  scripts/src/main/resources/scripts/command/terraform
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/command/yarn
  scripts/src/main/resources/scripts/commandlet-cli
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/environment-project
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/scripts/functions-core
  scripts/src/test/bash/test-functions-doc
  scripts/src/test/bash/test-version-compare
Labels: scripts, documentation, bash, commandlet, test

#962 #875: Extend integration-tests with advanced features
  scripts/src/test/bash/all-tests
  scripts/src/test/bash/functions-test
  scripts/src/test/bash/integration-test-custom-tools
  scripts/src/test/bash/integration-test-java-extra
  scripts/src/test/bash/integration-test-shared-tools
Labels: scripts, bash, test

#980 #974: Fixed dotnet command for nightly test
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/dotnet
Labels: scripts, bash, commandlet

#970 #956: fix doUpdatePath if no software folder exists
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/functions-core
Labels: scripts, bash

#975 #954: Fixed devon.bat with delay expansion
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/devon.bat
Labels: scripts, bash

#987 #986: fixed eclipse java detection
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: bug, enhancement, scripts, bash, commandlet, setup

#981 #887: Temporary fixed vscode nightly test
  scripts/src/test/bash/integration-test-vscode
Labels: scripts, bash, test
