Repository devonfw/ide, pull requests merged in 2022-08, with the labels that each got.

#729 Getting Started IDE
  documentation/advanced-tooling-generic.asciidoc
  documentation/advanced-tooling-windows.asciidoc
  documentation/devonfw-ide-contribution-getting-started.asciidoc
  documentation/images/WindowsTerminal.png
Labels: documentation, bash

#850 #767 Fix AsciiDoc issues
  CHANGELOG.asciidoc
  documentation/docker-desktop-alternative.asciidoc
  documentation/usage.asciidoc
Labels: documentation, bash

#854 #810 Openshift Integration
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/oc.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/oc
Labels: scripts, documentation, bash, commandlet

#837 #738 commandlet for lazydocker added
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/lazydocker.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/lazydocker
Labels: scripts, documentation, bash, commandlet

#830 #819 add option to create new devonfw-ide installation
  documentation/ide.asciidoc
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, documentation, bash, commandlet

#853 #786 Improve Windows Terminal with powershell
  documentation/advanced-tooling-windows.asciidoc
  scripts/src/main/resources/setup.bat
  scripts/src/main/resources/system/windows/devon-uninstall.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-cmd.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-gitbash.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-ps-uninstall.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-ps.reg
  scripts/src/main/resources/system/windows/windows-terminal/install.bat
  scripts/src/main/resources/system/windows/windows-terminal/uninstall.bat
Labels: windows, scripts, documentation, bash, Team_IDE
