Repository devonfw/ide, pull requests merged in 2023-03, with the labels that each got.

#1047 #991: Integrate openrewrite feature
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/rewrite.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/rewrite
Labels: scripts, documentation, bash, commandlet

#1045 #1030: Rancher Desktop Installation not detected.
  scripts/src/main/resources/scripts/command/docker
Labels: scripts, bash, commandlet

#1038 #971: Ability to run "migration script" on update
  CHANGELOG.asciidoc
  documentation/functions.asciidoc
  documentation/migration.asciidoc
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/scripts/migration
Labels: scripts, documentation, bash

#993 #982: Add plugin recommendation feature to vscode
  CHANGELOG.asciidoc
  documentation/vscode.asciidoc
  scripts/src/main/resources/scripts/command/vscode
Labels: scripts, documentation, bash, commandlet

#1067 #1066: devon.bat stopped adding PATH
  scripts/src/main/resources/scripts/devon.bat
Labels: enhancement, windows, scripts, bash

#1064 #999 Ability to require minimum devonfw-ide version
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, bash, commandlet

#1069 #1068: fixed devon.bat -v
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/devon.bat
Labels: bug, enhancement, scripts, bash

#1072 #1071: improved/fixed devon.bat setx PATH for empty user path
  scripts/src/main/resources/scripts/devon.bat
Labels: bug, enhancement, scripts, bash, setup

#1075 #1074 : Fix vscode plugin installation
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/vscode
Labels: scripts, bash, commandlet

#1083 #1054 automated security warnings
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/ide
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet
