Repository devonfw/ide, pull requests merged in 2023-01, with the labels that each got.

#1037 #1006: Updating name of executable file
  scripts/src/main/resources/scripts/command/docker
Labels: scripts, bash, commandlet

#1027 #1015: Fix jenkins for integration-test (set Java 17 as default version)
  scripts/src/test/bash/all-tests
Labels: scripts, bash, test

#1028 #1004: GCloud CLI integration for windows
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/gcloud.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/gcloud
Labels: scripts, documentation, bash, commandlet

#995 #939: extending test functions doc to check for invocation of undeclared functions
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/gcviewer
  scripts/src/test/bash/test-functions-doc
Labels: scripts, bash, commandlet, test

#1041 Feature/support for msi
  scripts/src/main/resources/scripts/command/aws
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash, commandlet

#952 #903: eclipse plugin removal
  CHANGELOG.asciidoc
  documentation/eclipse.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: scripts, documentation, bash, commandlet

#1050 #1049 : Fix shellcheck errors and update shellcheck version
  .github/workflows/test-ubuntu.yml
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/devon
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash, commandlet, SCM
