Repository devonfw/ide, pull requests merged in 2023-05, with the labels that each got.

#1138 add code to parse, compare, validate and decompose versions
  url-updater/src/main/java/com/devonfw/tools/ide/version/CharCategory.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/CharReader.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionComparisonResult.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionIdentifier.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionObject.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionPhase.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionSegment.java
  url-updater/src/test/java/com/devonfw/tools/ide/version/VersionIdentifierTest.java
  url-updater/src/test/java/com/devonfw/tools/ide/version/VersionSegmentTest.java
Labels: bash, urls

#1141 #1140: improve update URLs action
  .github/workflows/update-urls.yml
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionComparisonResult.java
Labels: bash, SCM, urls

#1157 #1156-Correct-wrong-version-numbers-for-helm
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/helm/HelmUrlUpdater.java
Labels: bash

#1159 #1158: fix project git.branch feature
  scripts/src/main/resources/scripts/command/project
Labels: enhancement, scripts, bash, commandlet, setup, projects, git

#1151 #1146 context-menu options
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-cmd.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-gitbash.reg
  scripts/src/main/resources/system/windows/windows-terminal/devon-wt-ps.reg
Labels: windows, scripts, bash

#1148 #1116 Added ability to install custom plugin to intellij
  scripts/src/main/resources/scripts/command/intellij
Labels: scripts, bash, commandlet

#1166 #1162 android studio json urls
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/androidstudio/AndroidJsonDownload.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/androidstudio/AndroidJsonItem.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/androidstudio/AndroidStudioUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerDesktopUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerRancherDesktopUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/dotnet/DotNetUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/eclipse/EclipseUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gh/GhUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/graalvm/GraalVmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/helm/HelmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/kotlinc/KotlincNativeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/lazydocker/LazyDockerUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/node/NodeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/npm/NpmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/terraform/TerraformUrlUpdater.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtests/AndroidStudioUrlUpdaterMock.java
Labels: bug, linux, bash, urls, android-studio

#1165 Quick fix: Add permissions to integration-test-android-studio
  scripts/src/test/bash/integration-test-android-studio
Labels: scripts, bash, test

#1171 #1163 Change url configuration for dotnet from installation version t…
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/dotnet/DotNetUrlUpdater.java
Labels: bash
