Repository devonfw/ide, pull requests merged in 2023-02, with the labels that each got.

#1053 #1052: Fix leading spaces on macOS
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/integration-test-custom-tools
Labels: scripts, bash, test

#1048 #1022: suppress confusing windows process result messages like The operation completed successfully.
  scripts/src/main/resources/setup.bat
Labels: scripts, bash

#1040 #1007: implement domain model for ide-urls
  .lift.toml
  configurator/src/test/java/com/devonfw/tools/ide/configurator/ConfiguratorTest.java
  configurator/src/test/java/com/devonfw/tools/ide/configurator/SortedPropertiesTest.java
  configurator/src/test/java/com/devonfw/tools/ide/migrator/MigrationsTest.java
  pom.xml
  url-updater/pom.xml
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlArtifact.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlArtifactWithParent.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlDownloadFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlEdition.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlFolder.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlRepository.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlStatusFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlTool.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlVersion.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/abstractUrlClasses/AbstractUrlArtifact.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/abstractUrlClasses/AbstractUrlArtifactWithParent.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/abstractUrlClasses/AbstractUrlFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/abstractUrlClasses/AbstractUrlFolder.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/abstractUrlClasses/AbstractUrlFolderWithParent.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/JsonDataBlockForSpecificUrl.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/UrlJsonCompleteDataBlock.java
Labels: bash

#1060 #1051: Added file lock documentation and added link to error message
  CHANGELOG.asciidoc
  documentation/how-to-unlock-files.asciidoc
  documentation/images/ResourceManager.png
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash
