Repository devonfw/ide, pull requests merged in 2023-08, with the labels that each got.

#1306 #1305: fixed start of intellij and android-studio
  scripts/src/main/resources/scripts/command/android-studio
  scripts/src/main/resources/scripts/command/intellij
Labels: bug, scripts, bash, commandlet, android-studio

#1315 Correction of documentation
  documentation/migration-from-ide-2023.04.001.asciidoc
Labels: documentation, bash

#1316 Update Docker asciidoc
  documentation/docker.asciidoc
Labels: documentation, bash

#1313 #1197: Integrated JavaMissionControl
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/jmc.asciidoc
  documentation/scripts.asciidoc
  ide/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  scripts/src/main/resources/scripts/command/jmc
Labels: scripts, documentation, bash, commandlet

#1324 #1321 Extension of readme.asciidoc - add url update workflow state
  README.asciidoc
Labels: enhancement

#1322 #1320: Fix offline generated documentation
  CHANGELOG.asciidoc
  documentation/intellij.asciidoc
Labels: documentation, bash

#1329 #1318: added getPath method to get variable as Path + test
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariables.java
  ide/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
Labels: enhancement, bash

#1331 #1330 GcViewer DonwloadUrl not Working
  ide/src/main/java/com/devonfw/tools/ide/url/updater/gcviewer/GcViewerUrlUpdater.java
Labels: bash

#1338 #1337: improve EnvironmentVariables
  ide/src/main/java/com/devonfw/tools/ide/cli/functions/Functions.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommand.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/ToolCommandlet.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/java/Java.java
  ide/src/main/java/com/devonfw/tools/ide/env/Environment.java
  ide/src/main/java/com/devonfw/tools/ide/env/EnvironmentImpl.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/AbstractEnvironmentVariables.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariables.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesImpl.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesMap.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesPropertiesFile.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesResolved.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesSystem.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesType.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/VariableLine.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/def/IdeVariables.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/def/IdeVariablesList.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/def/VariableDefinition.java
  ide/src/main/java/com/devonfw/tools/ide/env/var/def/VariableDefinitionStringList.java
  ide/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
  ide/src/test/java/com/devonfw/tools/ide/env/var/EnvironmentVariablesPropertiesFileTest.java
  ide/src/test/java/com/devonfw/tools/ide/env/var/VariableLineTest.java
  ide/src/test/java/com/devonfw/tools/ide/log/IdeSlf4jRootLogger.java
  ide/src/test/resources/com/devonfw/tools/ide/env/var/devon.properties
  ide/src/test/resources/ide-projects/basic/home/.ide/ide.properties
Labels: bash

#1344 #1198: Ability to download custom software from mounted filesystem
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash, commandlet

#1342 #1341: fixed intellij url-updater tests
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterTest.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/androidstudio/AndroidStudioJsonUrlUpdaterTest.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/intellij/IntellijJsonUrlUpdaterTest.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/python/PythonUrlUpdaterTest.java
Labels: bug, bash

#1336 Add GraalVM JDK 17 and 20 versions
  CHANGELOG.asciidoc
  ide/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/graalvm/GraalVmCommunityUpdater.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/graalvm/GraalVmOracleUrlUpdater.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/graalvm/GraalVmUrlUpdater.java
Labels: bash
