Repository devonfw/ide, pull requests merged in 2023-06, with the labels that each got.

#1174 #1142 wrong checksum in ide urls for npm
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/npm/NpmUrlUpdater.java
Labels: bash

#1137 #1112: Version-prefix not working as expected
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#1169 #1162: applied refactorings
  .lift.toml
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerDesktopUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerRancherDesktopUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/dotnet/DotNetUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/eclipse/EclipseUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gh/GhUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/graalvm/GraalVmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/helm/HelmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/kotlinc/KotlincNativeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/lazydocker/LazyDockerUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/node/NodeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/npm/NpmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/terraform/TerraformUrlUpdater.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtests/JsonUrlUpdaterIT.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtests/UpdateManagerIT.java
  url-updater/src/test/resources/integrationtests/JsonUrlUpdater/android-version-without-checksum.json
  url-updater/src/test/resources/integrationtests/JsonUrlUpdater/android-version.json
Labels: enhancement, bash, urls

#1175 Sonar start and stop options
  scripts/src/main/resources/scripts/command/sonar
Labels: scripts, bash, commandlet

#1155 #1131: Fix 404 downloads of url-updater
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlVersion.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/az/AzureUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/dotnet/DotNetUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gcviewer/GcViewerUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gh/GhUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/helm/HelmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/lazydocker/LazyDockerUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/node/NodeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/npm/NpmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/quarkus/QuarkusUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/terraform/TerraformUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/vscode/VsCodeUrlUpdater.java
Labels: bash

#1095 #1085 Align tool names in scripts
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/cobigen
  scripts/src/main/resources/scripts/command/mvn
  scripts/src/main/resources/scripts/command/node
  scripts/src/main/resources/scripts/command/sonar
  scripts/src/main/resources/scripts/devon.properties
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet

#1179 #1147: separate plugins from software
  CHANGELOG.asciidoc
  documentation/intellij.asciidoc
  documentation/software.asciidoc
  documentation/vscode.asciidoc
  scripts/src/main/resources/scripts/command/intellij
  scripts/src/main/resources/scripts/command/vscode
  scripts/src/main/resources/scripts/migrations/2023.06.001
Labels: scripts, documentation, bash, commandlet

#1204 #1160: fix spellcheck issues
  documentation/devonfw-ide-contribution-getting-started.asciidoc
Labels: documentation, bash

#1201 #1191 Integrated GraalVM PoC into ide repository
  ide/pom.xml
  ide/src/main/java/com/devonfw/tools/ide/dev/Devon.java
  ide/src/main/java/com/devonfw/tools/ide/dev/command/AbstractCommand.java
  ide/src/main/java/com/devonfw/tools/ide/dev/command/EnvCommand.java
  ide/src/main/java/com/devonfw/tools/ide/dev/command/ToolCommand.java
  ide/src/main/java/com/devonfw/tools/ide/dev/environment/Environment.java
  ide/src/main/java/com/devonfw/tools/ide/dev/functions/Functions.java
  ide/src/main/java/com/devonfw/tools/ide/dev/tool/Gh.java
  ide/src/main/java/com/devonfw/tools/ide/dev/tool/Java.java
  ide/src/main/resources/devon.properties
  ide/src/main/resources/scripts/lib_script/import.groovy
  ide/src/main/resources/scripts/lib_script/import.xml
  ide/src/main/resources/scripts/templates/jenkins/project.xml
  pom.xml
Labels: bash

#1190 Azure installation with MSI extraction
  CHANGELOG.asciidoc
  documentation/az.asciidoc
  scripts/src/main/resources/scripts/command/az
Labels: scripts, documentation, bash, commandlet

#1207 #1181: fixed azure updater
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/az/AzureUrlUpdater.java
Labels: bash

#1209 fix gcloud toolname
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gcloud/GCloudUrlUpdater.java
Labels: bash

#1208 #1084: adapt scripts to use ide-urls
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/pip
  scripts/src/main/resources/scripts/devon-autocomplete
  scripts/src/main/resources/scripts/functions
  scripts/src/main/resources/scripts/migrations/2023.06.001
Labels: scripts, documentation, bash, commandlet

#1211 #1200: use *.msi downloads instead of *.exe for rancher on windows
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerRancherDesktopUrlUpdater.java
Labels: bash, urls

#1135 #1114: Separate eclipse plugins and keep software installation pristine
  CHANGELOG.asciidoc
  documentation/eclipse.asciidoc
  scripts/src/main/resources/scripts/command/eclipse
Labels: scripts, documentation, bash, commandlet

#1212 #1210: disable milestones
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/eclipse/EclipseUrlUpdater.java
Labels: software, bash, setup, urls

#1220 #1216: Refactoring checksum verification
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash

#1187 #1143 Add support for tomcat
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/scripts.asciidoc
  documentation/tomcat.asciidoc
  scripts/src/main/resources/scripts/command/tomcat
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/tomcat/TomcatUrlUpdater.java
Labels: scripts, documentation, bash, commandlet

#1203 #1162: added timeout for GitHub actions
  .github/workflows/update-urls.yml
  url-updater/src/main/java/com/devonfw/tools/ide/url/UpdateInitiator.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/androidstudio/AndroidStudioUrlUpdater.java
Labels: bash, SCM, urls

#1221 Fix SONAR_HOME path variable for Windows
  scripts/src/main/resources/scripts/command/sonar
Labels: scripts, bash, commandlet
