Repository devonfw/ide, pull requests merged in 2023-04, with the labels that each got.

#1091 #1076: Fix doReplaceExtractedSkipSingleFolder() with recursion
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#1046 #998: fixed release-info messed with installation output
  scripts/src/main/resources/scripts/command/release
Labels: scripts, bash, commandlet

#1105 #1104: fix intellij plugin installation
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/command/intellij
Labels: enhancement, scripts, bash, commandlet, plugins

#1102 Quick fix for doReplaceExtractedSkipSingleFolder
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#1097 #1039 Add support for Kotlin
  CHANGELOG.asciidoc
  documentation/LICENSE.asciidoc
  documentation/cli.asciidoc
  documentation/devonfw-ide-usage.asciidoc
  documentation/kotlinc-native.asciidoc
  documentation/kotlinc.asciidoc
  documentation/scripts.asciidoc
  scripts/src/main/resources/scripts/command/kotlinc
  scripts/src/main/resources/scripts/command/kotlinc-native
Labels: scripts, documentation, bash, commandlet

#1094 #1073: Add testcase for windows setup.bat and devon.bat + fix colored output
  .github/workflows/test-macos.yml
  .github/workflows/test-ubuntu.yml
  .github/workflows/test-windows.yml
  scripts/src/test/bash/all-tests
  scripts/src/test/bash/functions-test
  scripts/src/test/bash/setup-windows.bat
  scripts/src/test/bash/test-setup
  scripts/src/test/bash/test-setup-windows
Labels: scripts, bash, test, SCM

#1093 #1065: Add SHA-256 checksum generator to url-updater
  CHANGELOG.asciidoc
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlChecksum.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractCrawler.java
Labels: bash

#1107 #1099: simplest solution to get git progress for large clones
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, bash, git

#1108 #1098: workaround fix for devon node version set
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: bug, enhancement, scripts, bash, node.js

#1111 #1110: update to latest docgen version to fix build issue
  documentation/pom.xml
Labels: enhancement, documentation, bash, maven, release

#1113 #1088: align editions in ide urls
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/eclipse/EclipseEclipseCrawler.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntelliJIntellijEditionCrawler.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/rancher/RancherCrawler.java
Labels: bash

#1058 #1044: eclipse commandlet cleanup
  scripts/src/main/resources/scripts/command/eclipse
Labels: scripts, bash, commandlet

#1059 #1035: Github action to update ide-urls
  .github/workflows/update-urls.yml
Labels: bash, SCM

#1122 #1121: fixed loadChild to ignore undesired files
  url-updater/src/main/java/com/devonfw/tools/ide/json/mapping/JsonMapping.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlChecksum.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlDownloadFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlEdition.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlStatusFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/UrlVersion.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/abstractUrlClasses/AbstractUrlFolder.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/StatusJson.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/URLStatus.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/URLStatusError.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/URLStatusSuccess.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/UrlStatus.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/folderhandling/jsonfile/UrlStatusState.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractCrawler.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/JsonCrawler.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UrlRequestResult.java
  url-updater/src/test/java/com/devonfw/tools/ide/json/mapping/JsonMappingTest.java
  url-updater/src/test/java/com/devonfw/tools/ide/url/folderhandling/UrlStatusFileTest.java
  url-updater/src/test/resources/urls/docker/rancher/1.6.2/linux.urls
  url-updater/src/test/resources/urls/docker/rancher/1.6.2/status.json
  url-updater/src/test/resources/urls/docker/rancher/1.6.2/win.urls
  url-updater/src/test/resources/urls/docker/rancher/1.6.2/win_x64.urls
  url-updater/src/test/resources/urlsRepo/docker/rancher/1.6.2/linux.urls
Labels: bash

#1128 #1127: error handling
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/folder/AbstractUrlFolder.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/GithubUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/JsonUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/MavenBasedUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/WebsiteUrlUpdater.java
Labels: bug, enhancement, bash

#1126 #1118: Add milestone versions of Eclipse
  CHANGELOG.asciidoc
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/eclipse/EclipseUrlUpdater.java
Labels: bash

#1134 #1129: follow redirects
  url-updater/pom.xml
  url-updater/src/main/java/com/devonfw/tools/ide/url/UpdateInitiator.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/UrlChecksum.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/GithubUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/MavenBasedUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UrlRequestResult.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/aws/AwsUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/az/AzureUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerDesktopUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerRancherDesktopUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/dotnet/DotNetUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/eclipse/EclipseUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gcviewer/GcViewerUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gh/GhUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/graalvm/GraalVmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gradle/GradleUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/helm/HelmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijCommunityUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijUltimateUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/java/JavaUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/jenkins/JenkinsUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/kotlinc/KotlincNativeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/kotlinc/KotlincUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/lazydocker/LazyDockerUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/mvn/MvnUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/node/NodeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/npm/NpmUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/oc/OcUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/pip/PipUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/python/PythonUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/quarkus/QuarkusUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/sonar/SonarUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/terraform/TerraformUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/vscode/VsCodeUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/util/DateTimeUtil.java
  url-updater/src/main/java/com/devonfw/tools/ide/util/HexUtil.java
  url-updater/src/main/resources/logback.xml
  url-updater/src/test/java/com/devonfw/tools/ide/util/DateTimeUtilTest.java
Labels: bash, urls
