Repository devonfw/ide, pull requests merged in 2023-09, with the labels that each got.

#1345 #1090: support to detect OS and arch
  ide/src/main/java/com/devonfw/tools/ide/common/SystemInfo.java
  ide/src/main/java/com/devonfw/tools/ide/common/SystemInfoImpl.java
  ide/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  ide/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
Labels: bash

#1348 #1090: add FileAccess with unpack, implement setup, delete Functions
  ide/pom.xml
  ide/src/main/java/com/devonfw/tools/ide/cli/Devon.java
  ide/src/main/java/com/devonfw/tools/ide/cli/functions/Functions.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManager.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommand.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/ToolCommandlet.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/gh/Gh.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/java/Java.java
  ide/src/main/java/com/devonfw/tools/ide/commandlet/mvn/Mvn.java
  ide/src/main/java/com/devonfw/tools/ide/common/OperatingSystem.java
  ide/src/main/java/com/devonfw/tools/ide/common/SystemInfoImpl.java
  ide/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  ide/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  ide/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  ide/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  ide/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  ide/src/main/java/com/devonfw/tools/ide/io/TarCompression.java
  ide/src/main/java/com/devonfw/tools/ide/log/IdeLogLevel.java
  ide/src/main/java/com/devonfw/tools/ide/log/IdeLogger.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/AbstractUrlArtifact.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/UrlArtifact.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/UrlMetadata.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/file/AbstractUrlFile.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/file/UrlChecksum.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/file/UrlDownloadFile.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/folder/AbstractUrlFolder.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlEdition.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlRepository.java
  ide/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlVersion.java
  ide/src/main/java/com/devonfw/tools/ide/util/DateTimeUtil.java
  ide/src/main/java/com/devonfw/tools/ide/util/FilenameUtil.java
  ide/src/main/java/com/devonfw/tools/ide/version/VersionIdentifier.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterTest.java
  ide/src/test/java/com/devonfw/tools/ide/io/TarCompressionTest.java
  ide/src/test/java/com/devonfw/tools/ide/util/FilenameUtilTest.java
Labels: bash

#1349 #1090: added list handling to ProcessContext
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
Labels: enhancement, bash

#1351 #1090: improve ProcessContext, fixed readLine
  ide/src/main/java/com/devonfw/tools/ide/commandlet/ToolCommandlet.java
  ide/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  ide/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessErrorHandling.java
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessResult.java
  ide/src/main/java/com/devonfw/tools/ide/process/ProcessResultImpl.java
Labels: bash

#1333 #1299 gcViewer version change/update not working
  scripts/src/main/resources/scripts/command/gcviewer
Labels: scripts, bash, commandlet

#1346 #1317 fix docker desktop url updater
  ide/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlVersion.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerDesktopUrlUpdater.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterMockSingle.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterTest.java
  ide/src/test/resources/integrationtest/UrlUpdaterTest/mocked/mocked/1.0/status.json
Labels: bash

#1359 #1358: implemented disable workspace functionality
  documentation/android-studio.asciidoc
  documentation/intellij.asciidoc
  scripts/src/main/resources/scripts/command/android-studio
  scripts/src/main/resources/scripts/command/intellij
Labels: scripts, documentation, bash, commandlet

#1347 Fix/1343 status json success timestamp
  ide/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  ide/src/main/java/com/devonfw/tools/ide/url/updater/pip/PipUrlUpdater.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/AbstractUrlUpdaterTest.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterMock.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterMockSingle.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterTest.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/pip/PipUrlUpdaterMock.java
  ide/src/test/java/com/devonfw/tools/ide/integrationtest/pip/PipUrlUpdaterTest.java
Labels: bash, urls
