Repository devonfw/ide, pull requests merged in 2023-07, with the labels that each got.

#1222 #1218: optimized gradle url-updater
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/gradle/GradleUrlUpdater.java
Labels: bash

#1206 #1184: Correct python configuration in ide-urls
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/python/PythonUrlUpdater.java
Labels: bash

#1205 #1132 - Determine tool versions of intellij with jsonurlupdater
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijCommunityUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijJsonDownloadItemProp.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijJsonDownloads.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijJsonDownloadsItem.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijJsonObject.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijJsonReleases.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijUltimateUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijUrlUpdater.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/androidstudio/AndroidStudioJsonUrlUpdaterIT.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/androidstudio/AndroidStudioUrlUpdaterMock.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/intellij/IntellijJsonUrlUpdaterIT.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/intellij/IntellijUrlUpdaterMock.java
  url-updater/src/test/resources/integrationtest/AndroidStudioJsonUrlUpdater/android-version-without-checksum.json
  url-updater/src/test/resources/integrationtest/AndroidStudioJsonUrlUpdater/android-version.json
  url-updater/src/test/resources/integrationtest/IntellijJsonUrlUpdater/intellij-version-withoutchecksum.json
  url-updater/src/test/resources/integrationtest/IntellijJsonUrlUpdater/intellij-version.json
Labels: bash

#1230 #1229: pull ide-urls before using it
  scripts/src/main/resources/scripts/devon-autocomplete
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash, setup, update, urls

#1214 #1200: fixed and cleaned docker commandlet
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet

#1234 Quick-Fix: Remove python and pip integration-test
  scripts/src/test/bash/integration-test-pip
  scripts/src/test/bash/integration-test-python
Labels: scripts, bash, test

#1235 #1084: omit default edition in the download filename
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, software, bash, urls

#1237 #1084: omit default edition in the download filename at pip
  scripts/src/main/resources/scripts/command/pip
Labels: scripts, bash, commandlet

#1236 #1106: added vulnerabilties doc
  documentation/vulnerabilities.asciidoc
Labels: enhancement, documentation, bash, security

#1238 #1084: make rancher default edition
  scripts/src/main/resources/scripts/devon.properties
Labels: enhancement, scripts, bash

#1240 #1106: fix url-updater to properly handle security config file
  scripts/src/main/resources/scripts/functions
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/AbstractUrlFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/UrlChecksum.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/UrlDownloadFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/UrlFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/UrlSecurityFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/file/UrlStatusFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlEdition.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlVersion.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionObject.java
  url-updater/src/main/java/com/devonfw/tools/ide/version/VersionRange.java
Labels: enhancement, scripts, bash, urls

#1241 #1162: consider timeout also in outer loop of UpdateManager
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractProcessorWithTimeout.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
Labels: bash, urls

#1243 #1242: fixed edition handling
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/eclipse
  scripts/src/main/resources/scripts/command/intellij
Labels: scripts, bash, commandlet, urls

#1261 #1259: changed android-studio plugins directory
  scripts/src/main/resources/scripts/command/android-studio
  scripts/src/main/resources/scripts/migrations/2023.07.001
Labels: scripts, bash, commandlet, android-studio

#1262 #1258: Fix error opening android-studio: Could not find templates path
  scripts/src/main/resources/scripts/command/android-studio
Labels: scripts, bash, commandlet

#1257 #1260: fix migration script 2023.07.001
  scripts/src/main/resources/scripts/migrations/2023.07.001
Labels: scripts, bash

#1267 #1264 Eclipse edition bug in migration script 2023.07.001
  scripts/src/main/resources/scripts/migrations/2023.07.003
Labels: scripts, bash

#1274 #1252: fixing Docker linux download link
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/docker/DockerRancherDesktopUrlUpdater.java
Labels: bash

#1275 #1231:added jasypt urlUpdater
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/jasypt/JasyptUrlUpdater.java
Labels: bash

#1266 #1263 devon.software.version will not be created with setup or setup.bat
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, bash, commandlet

#1288 #1287: always clone urls
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, bash, setup, urls

#1284 #1283: #1276: checksum verification only for ide-urls
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash

#1282 #1132: remove obsolete dependencies
  url-updater/pom.xml
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
Labels: bash, urls

#1286 #1285: remove renaming toolname mappings
  scripts/src/main/resources/scripts/command/ide
Labels: scripts, bash, commandlet

#1271 #1253: optimized url-updater
  url-updater/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlVersion.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/androidstudio/AndroidStudioUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/intellij/IntellijUrlUpdater.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterIT.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/UrlUpdaterMock.java
Labels: enhancement, bash

#1251 #1197 added UrlUpdater for java mission control
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/jmc/JmcUrlUpdater.java
Labels: bash

#1250 #1172: replacing Python WebsiteUrlUpdater with JsonUrlUpdater
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/python/PythonFile.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/python/PythonJsonItem.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/python/PythonJsonObject.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/python/PythonUrlUpdater.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/python/PythonUrlUpdaterIT.java
  url-updater/src/test/java/com/devonfw/tools/ide/integrationtest/python/PythonUrlUpdaterMock.java
  url-updater/src/test/resources/integrationtest/PythonJsonUrlUpdater/python-version.json
Labels: bash

#1289 #1084: removed obsolete function doResolveDownloadUrl
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/command/java
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet, functions

#1290 #1252: #1279: completely reworked docker
  documentation/docker.asciidoc
  scripts/src/main/resources/scripts/command/docker
Labels: scripts, software, documentation, bash, commandlet, setup

#1281 #1164: fix jenkins stop command
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/command/jenkins
  scripts/src/main/resources/scripts/devon.properties
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet

#1292 #1186 install.asciidoc file referenced by software.asciidoc is missing
  documentation/software.asciidoc
Labels: documentation, bash

#1296 #1279: rancher vpn final #1295: mac fix
  documentation/docker.asciidoc
  documentation/images/RDCompletedStartup.png
  documentation/images/RDInstallPic1.png
  documentation/images/RDInstallPic2.png
  documentation/images/RDInstallerInfoWindow.png
  documentation/images/Rancher-Desktiop-Networking-Tunnel.png
  documentation/images/WSLdistrosRD.png
  scripts/src/main/resources/scripts/command/docker
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash, commandlet, setup

#1298 #1297: remove doFail debugging leftover
  CHANGELOG.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: enhancement, scripts, bash
