Repository devonfw/ide, pull requests merged in 2024-01, with the labels that each got.

#1375 #1367: added fix to java version compare
  scripts/src/main/resources/scripts/functions
  scripts/src/test/bash/test-version-compare
Labels: scripts, bash, test

#1374 #1369: added latest stable version pattern
  documentation/functions.asciidoc
  scripts/src/main/resources/scripts/functions
Labels: scripts, documentation, bash

#1377 #1376 fixed typo
  scripts/src/main/resources/scripts/functions
Labels: scripts, bash
